html {
    background-image: linear-gradient(to bottom, #000000, #000000A0), url("bg.png");
    background-color: color(scheme url("bg.png"), #fallback-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Century Gothic";
    overflow: auto;
}

a {
    text-decoration: none;
    color: #FDFDFD;
    margin: 5px;
    padding: 5px;
    border: solid 2px #FAFAFA50;
    border-radius: 5%;
    transition: background-color 0.25s, padding 0.5s, color 0.25s;
    background-color: #403040A0;
}

a:hover {
    background-color: #505050B0;
    padding: 10px 5px 10px 5px;
}

a:active {
    background-color: #FFFFFFC0;
    color: black;
}

h3,h4,h5,h6 {
    margin: 0;
}
.des {
    color: #EFEFEF50
}
img {
    border-radius: 5%
}
body {
    margin: 0;
}

.sel {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.thumb {
    width: 275px;
    height: 150px;
}

.random {
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.wide {
    width: 100%
}

::-webkit-scrollbar {
    width: 10px;
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 15px;
}

.profile {
    width: 58.5vh;
    height: width;
    border-radius: 0;
}

.introduct {
    text-align: center;
}